[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
[user]
	name = #insert the commit author name here
	email = #insert your commit email here
[credential]
	helper = osxkeychain
[include]
	path = .githubconfig
	path = .gitaliasconfig
[push]
	#Set push.default. This is confusing.
	#It's best to read the docs here: http://git-scm.com/docs/git-config
	#default = nothing #be really *really* conservative
	#default = upstream #be conservative
	default = simple #default in git 2.0, be really conservative
[help]
	autocorrect = 1
